.logoContainer{
    padding: 13px;
}
.avatar-small{
    width: 45px;
    height: 45px;
}
.avatar-medium{
    width: 65px;
    height: 65px;
}
.avatar-xsmall{
    width: 40px;
    height: 40px;
}
.custom-dot-margin{
    margin-top: 12px;
    margin-left: 10px;
}
/* .menu-link>.active{
    @apply bg-red-600;
    
} */